@import url('reset.css');

/* GLOBAL  */
body {
	font-family: "Poppins", sans-serif;
	background: #0C151D;
	color: #FFF;
	font-size: 22px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}


.subtitle {
	font-size: 37px;
}

/* HEADER */

.header {
	text-align: center; 
	margin-top: 35px;
}

/* HEADER THEME */

.theme {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

.header>.container>img {
	margin-top: 35px;
	border-radius: 50%;
}

.header-blocks {
	width: 635px;
	margin: 65px auto 0;
}

/*  BLOCK ONE */

.block-one {
	font-size: 0px;
}

.header-block  {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 22px;
}

.header-block>ul {
	font-size: 0px;
}

.header-block>ul>li {
	display: inline-block;
	margin-right: 26px;
	font-size: 22px;
	width: 36px;
	height: 36px;
}

.header-block>ul>li>a {
	display: block;
	width: 36px;
	height: 36px;	
}

.header-block>ul>li:last-child {
	margin-right: 0px;
}

/* HEADER PHOTO */

.header-photo {
	width: 205px;
	height: 205px;
	margin-right: 45px;
	border-radius: 50%;
	overflow: hidden;
	border: 6px solid #FFE071;
}

.header-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header-title {
	font-weight: 500;
	font-size: 46px;
	color: #F1F2F4;
}

.header-title+div {
	color: #A3ABB2;
	margin: 10px 0 12px;
}

/* BLOCK TWO */

.block-two {
	margin: 50px 0 0;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 0px;
	text-align: center;
}

.header-other {
	display: inline-block;
	font-size: 22px;
	width: 150px;
	line-height: 30px;

}

.header-other+div {
	margin-left: 90px;
	width: 120px;
}

/* LINKS */

.header_link {
	font-size: 0px;
	margin-top: 47px;
}

.header_link a {
	font-size: 22px;
	border-radius: 6px;
	padding: 29px 20px;
	width: 290px;
	background: #FFE071;
	color: #3D3D3D; 
	text-decoration: none;
	display:inline-block;

}

.header_link>a+a {
	color: #A3ABB2;
	background: #171F26;
	padding: 29px 20px;
	margin-left: 40px;
}

.header_link>a+a:hover {
	outline: 1px solid #3E64AA;
}


/* SINGS */

.portfolio {
	padding: 100px 0 100px;
}

.portfolio-cards {
	font-size: 0px;

}

.portfolio-card {
	width: 380px;
	height: 226px;
	display: inline-block;
	font-size: 22px;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.portfolio-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.portfolio-card:first-child,
.portfolio-card:nth-child(4) {
	margin-left: 0px;
}


/* MAIN-TEXT */



.main-text {
	color: #3D3D3D;
	padding: 22px 0 58px;
	background: #FFE482;
	text-align: center;
	font-weight: 500;
	font-size: 22px;

}

.main-title {
	color: #3D3D3D;
	padding: 22px 0 30px;
	font-weight: 500;
	font-size: 37px;
	text-transform: uppercase;
	text-align: center;
}


/* FOTTER */

.footer-text {
	text-align: center;
	padding: 50px 0 50px;
	background: #0C151D;
	color: #A3ABB2;
}
